# Asus mounts
type adf_file, vendor_file_type, file_type;
type apd_file, file_type;
type asdf_file, file_type;
type fac_file, vendor_file_type, file_type;
allow fac_file self:filesystem associate;
type log_file, file_type;

# Data
type batterystats_file, file_type;
